{% extends "accounts/layout.html" %}

{% block content %}

    <span style="background-color: rgb(210, 223, 231)"> {{ user.profile.clinicname }}</span>님의 장비목록
    <p></p>
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                            {% if not devices %}
                                관리자가 현재 준비중입니다.                           
                            {% else %}
                            <div class="row">
                                {% for device in devices %}
                                <div class="thumbnail">
                                    <div id="device-panel" class="caption">
                                        <a href="{% url "blog:resource_list" device.id %}"><img src="{{ device.photo.url }}" width="70" /></a><br />
                                        <!-- <a href="{% url "blog:resource_list" device.id %}"><small>{{ device.name|truncatechars:14 }}</small></a> -->         
                                    </div>

                                </div>
                                {% cycle "" "<div class='col-sm-12'><hr /></div></div><div class='row'>" %}
                                {% endfor %}
                            </div>
                            {% endif %}


            </div>
            <div class="col-sm-10">
                <table class="table">
                    <tr>
                    <td>자료실</td>
                    </tr>
                    <tr>
                    <td id="marketing-pos">왼쪽에서 장비를 선택하세요.</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_body %}

<script>
$(function() {
        console.log("웹페이지 로딩완료...");

        $("#device-panel a").click(function(e){
            e.preventDefault();
            target_url = $(this).attr('href');

            $.get(target_url)
            .done(function(html){
                $('#marketing-pos').html(html);
            })
            .fail(function(xhr, textStatus, error){
                console.log(textStatus);
            }).
            always(function(html){
                console.log("always");
                is_loading = false;
                $('html').scrollTop(0);
            });
        });
});

</script>
{% endblock %}
