{% extends 'blog/layout.html' %}

{% block content %}
<div class="container">
        <div class="row">
            <div class="col-sm-12">
<table class="table">
<thead>
    <tr>
        <th>제목</th>
        <th>날짜</th>
    </tr>
</thead>
{% for post in post_list %}
<tbody>
    <tr>
        <td><a href="{% url 'blog:post_detail' post.pk %}">{{post.title}}</a></td>
        <td>{{post.created_at |date:"Y/M/d" }}</td>
    </tr>
</tbody>

{% endfor %}
</table>
</div>
</div>
</div>
{% endblock %}